/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: 0 auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.top-bar-container {
  width: 100%;
  height: auto;
}
.top-bar-edition {
  width: 100%;
  height: 59px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-pen-to-square {
  padding-right: 10px;
}
.edition-btn {
  color: white;
  text-decoration: none;
}
.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.fa-xmark {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 20px;
  cursor: pointer;
}
.titleModal {
  color: black;
  font-family: work sans;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  align-items: center;
}
.modalWorksContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.modalWork {
  position: relative;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}
.modalWork i {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modalWork img {
  width: 100%;
  height: 102px;
}

.fa-trash-can {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  color: white;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  cursor: pointer;
}

.barModal {
  border-top: 1px solid;
  color: rgba(179, 179, 179, 1);
  width: 420px;
}

.addphoto {
  background-color: rgba(29, 97, 84, 1);
  color: white;
  font-family: syne;
  font-weight: 700;
  font-size: 14px;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.containerModalPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}
.modalAddPhoto {
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}
.fa-arrow-left {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 20px;
  cursor: pointer;
}
.fa-xmark {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 20px;
  cursor: pointer;
}
.add {
  color: black;
  font-family: work sans;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  padding: 0;
}
.previewPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerFile {
  background-color: rgba(232, 241, 246, 1);
  border-radius: 3px;
  width: 420px;
  height: 169px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -51px;
}
.fa-image {
  color: rgba(185, 197, 204, 1);
  height: 59px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 80px;
}
.file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  background-color: rgba(203, 214, 220, 1);
  border-radius: 50px;
  color: rgba(48, 102, 133, 1);
  cursor: pointer;
}
.containerFile p {
  font-size: 10px;
  line-height: 11px;
  margin-top: 5px;
}
input#file {
  display: none;
}
.fileLabel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.preview {
  display: none;
  max-width: 100%;
  height: 100%;
}
.previewActif {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.textCategory {
  margin-top: 30px;
}
input#title {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  height: 51px;
  border: none;
  width: 420px;
  margin-top: 10px;
  margin-bottom: 20px;
}
select#category {
  display: flex;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  height: 51px;
  border: none;
  width: 420px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.validate {
  background-color: rgba(167, 167, 167, 1);
  color: white;
  font-family: syne;
  font-weight: 700;
  font-size: 14px;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.validateActif {
  background-color: rgba(29, 97, 84, 1);
  color: white;
  font-family: syne;
  font-weight: 700;
  font-size: 14px;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.modif_button {
  margin-left: 30px;
  text-decoration: none;
  font-family: work sans;
  font-size: 14px;
  line-height: 16px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filters button {
  color: rgba(29, 97, 84, 1);
  background-color: white;
  height: 37px;
  border: solid 1px rgba(29, 97, 84, 1);
  border-radius: 60px;
  margin-top: 13px;
  margin-left: 13px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 13px;
}

.filters button:focus {
  color: white;
  background-color: rgba(29, 97, 84, 1);
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* login page */

h2 {
  text-align: center;
  height: 36px;
  margin-bottom: 37px;
  padding-top: 118px;
  color: #1d6154;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  margin-bottom: 30px;
}
.form-input label {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 16px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-input input {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
  height: 51px;
}

.form-button {
  border-radius: 60px;
  color: #3d3d3d;
  font-weight: 500;
}
.form-login input[type="submit"] {
  margin-top: 7px;
  margin-bottom: 28px;
  border: unset;
  padding: 10px 38px 9px 39px;
  cursor: pointer;
}

a {
  color: #3d3d3d;
  cursor: pointer;
}
